@import './styles/classes.css'; /* do not remove */
@import './styles/base.css'; /* do not remove */

section#flexbox {
    display: flex;
    flex-direction: column;
}

div#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for screens with a minimum width of 800px */
@media (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    header > div {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-auto-columns: auto;
    }

    header > div > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 2em;
    }

    section#flexbox h2 {
        font-size: 6em;
    }

    section#grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 250px 250px 250px 250px;
    }

    section#grid > * {
        padding: 1em;
    }

    section#grid h2 {
        grid-column: 1 / span 3;
        text-align: right;
        font-size: 6em;
    }

    section#grid p:first-of-type {
        grid-column: 1 / span 2;
    }

    section#grid div {
        grid-column: 2 / span 2;
        grid-row: 3 / span 3;
    }

    footer div {
        display: flex;
        flex-direction: row;
        padding: 4em;
    }

    footer div img + * {
        margin-left: auto;
    }

    footer div p {
        margin-top: 0;
    }
}

/* Styles for screens with a width below 800px */
@media (max-width: 799px) {
    footer div {
        display: flex;
        flex-direction: column;
    }
}
